- if user_signed_in?
  .row
  - unless @notes.blank?
    - @notes.each do |note|
      %li.note.col-xs-6.col-md-3.bs-callout.bs-callout-danger
        %a.note-w{ href: (url_for [note])} 
          .note-content
            %h2.truncate-text= note.title
            %p.note-date= time_ago_in_words(note.created_at) + " ago"

  - else
    %h2 Add a Note
    %p It appears you haven't created any notes yet.... You better create one now, bitch
    %button.btn.btn-success= link_to "New Note", new_note_path
    
- else
  %h2 Sorry, bro, you're not allowed to be here until you've signed up