%body
  - if notice
    #not-wrapper.alert.alert-success
      %p.notice= notice
  - elsif alert
    #not-wrappers.alert.alert-danger
      %p.white= alert 
  end 

  %section.join 
    %h1.title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %h3 Start free trial today!
    %button.j-btn Join now 
      
    = yield