<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Untitled Project</title>
<!-- Stylesheets -->
</head>

<body>
<header>
<div class="container-custom">
<h1 class="index-header">Welcome to</h1>
<h2>the ultimate school helper site</h2>
</div>
<%= image_tag("browser1-01.svg", :alt => "browser-1", :class => 'browser-1') %>

</header>

<section id="features" class="feature-section">

<h1>features</h1>

<div class="feature-all">
<div class="feature-container container-custom">
<div class="feature-text-container-left-float">
<h2 class="feature-heading">Notebook</h2>
<p class="feature-text">Lorem ipsum dolor sit amet, ligula pede dui gravida aptent. Dui nibh id, iure quis amet eu phasellus, hendrerit tortor vel aliquam erat. Ut sit sed sed. Enim senectus, ultrices morbi massa massa.
</p>
</div>
<%= image_tag("texteditor.svg", :alt => "texteditor", :class => 'text-editor-svg svg') %>
<div style="clear: both;"></div>
</div>

<div class="feature-container container-custom">
<div class="feature-text-container-right-float">
<h2 class="feature-heading">Equations</h2>
<p class="feature-text">Lorem ipsum dolor sit amet, ligula pede dui gravida aptent. Dui nibh id, iure quis amet eu phasellus, hendrerit tortor vel aliquam erat. Ut sit sed sed. Enim senectus, ultrices morbi massa massa.
</p>
</div>
<%= image_tag("equations.svg", :alt => "equations", :class => 'equations-svg svg') %>
<div style="clear: both;"></div>
</div>

<div class="feature-container container-custom">
<div class="feature-text-container-left-float">
<h2 class="feature-heading">Calculators</h2>
<p class="feature-text">Lorem ipsum dolor sit amet, ligula pede dui gravida aptent. Dui nibh id, iure quis amet eu phasellus, hendrerit tortor vel aliquam erat. Ut sit sed sed. Enim senectus, ultrices morbi massa massa.
</p>
</div>
<%= image_tag("calculator-01.svg", :alt => "calculator", :class => 'calculator-svg svg') %>
<div style="clear: both;"></div>
</div>
</div>

<div class="margin"></div>
</section>

<section class="get-started-section">

</section>

</body>
</html>
