/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

input {
  background-image: none;
  border: none;
  font: 100%/1.5em "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

.container-login {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
#login {
  width: 400px;
}

#login h2 {
  background: #27ae60;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
  margin-right: 14px;
}

#login fieldset {
  background: #2fcc72;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
}

#login fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#login fieldset p:last-child {
  margin-bottom: 0;
}

#login fieldset input {
  border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
  background: #fff;
  color: #777;
  padding: 4px 10px;
  width: 100%;
}

#login fieldset input[type="submit"] {
  background: #fff;
  color: #2fcc72;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
  margin-top: 20px;
}

#login fieldset input[type="submit"]:hover {
  background: #e1e1e1;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid white inset;
}

#login fieldset input[type="email"]:focus, #login fieldset input[type="password"]:focus {
  outline: none;
}
