@import 'bourbon/bourbon'

.grey
  color: #666
  font-weight: 300
  text-transform: uppercase
  font-size: 32px
  margin-bottom: -15px
  
  
.new-note
  margin: 0 auto
  padding-top: 40px
  
  hr
    margin-bottom: 15px
    
    
.name
  &:hover,
  &:focus,
  &:active
    color: #fff
    text-decoration: none
    border-bottom: 0px solid #87d37c
  
.c-t
  text-align: center
  
a:hover
  text-decoration: none


.white
  color: #fff
  
  
#not-wrapper
  margin: 0px
  
  
.os
  font-family: Open Sans
  
.bold
  font-weight: 600
  
.uc
  text-transform: uppercase
  
  
.m-b-20
  margin-bottom: 20px
  
.n-c::first-letter
  text-transform: uppercase
  
  
button a
  color: #fff
  
.note
  //width: 25%
  float: left
  list-style-type: none
  
  
.note-content
  margin-bottom: 10px
  padding: 10px
  margin-bottom: 20px
  border: 1px solid #eee
  border-left-width: 5px
  border-radius: 3px
  border-left-color: #ce4844
  
a
  color: #777
  
  &:hover
    color: #666
    +transition
  
  
.no-label
  label
    display: none

